pip>=25.0.1
streamlit==1.39.0
langchain-groq==0.2.4
langchain==0.3.19
langchain-chroma==0.2.2
sentence-transformers==2.6.0
chromadb==0.6.3
transformers==4.48.3
python-dotenv==1.0.1
pillow==10.2.0
pytesseract==0.3.13
pdf2image==1.17.0
huggingface-hub==0.28.1
groq==0.18.0
unstructured[pdf]==0.16.23
opencv-python-headless==4.9.0.80 


